<article class="d-flex w-100 navbar navbar-expand-lg navParentBlock py-4 justify-content-around">
  <section class="leftNavBlocks d-flex">
    <!-- <app-favicon></app-favicon> -->
    <img style="width: 65px;height: 65px;" src="Resources\images\Favicon.png">
    <h1 class="p-0 m-0 align-content-center portfolio d-flex align-items-center" #portfolio>
      Portfolio
    </h1>
  </section>
  <section class="centerNavBlocks position-relative">
    <app-carousel-component></app-carousel-component>
    <div class="align-items-center d-flex h-100 justify-content-center position-absolute top-0 w-100"
      style="left: 0px;">
      <div class="rotateDiv"></div>
    </div>
  </section>
  <section class="rightNavBlocks mx-lg-5">
    <img class="navImage" src="/Resources/images/9434619.jpg" />
  </section>
</article>