.fullstack {
    width: fit-content;
    // padding: 10px;
    // background-color: slategray;
    // border-image: linear-gradient(to right, #b474c8 0%, #ff8787 100%) 1;
    border-radius: 5px;
    border-width: 4px;
    border-style: ridge;
    padding: 10px;
    animation: borderLine 1s infinite linear;

    @keyframes borderLine {
        from {
            border-image: linear-gradient(to right, #ff7878 0%, #b900f3 100%) 1;
        }

        to {
            border-image: linear-gradient(to right, #b900f3 0%, #ff7878 100%) 1;
        }
    }
}

.servicesMobile {
    margin-top: 100px;
}

.serviceParent {
    display: grid;
    // margin-top: 150px !important;
    grid-template-columns: repeat(1, 1fr);
    color: white;
    // margin-top: 200px;

    .cardParent {
        overflow: hidden;
        box-shadow: 5px 5px 12px 0px #ce82dc;
        align-items: center;
        background-color: rgb(133 81 170 / 16%);
        border-radius: 16px;
        display: flex;
        justify-content: center;
        padding: 25px;
        margin-block: 15px;
        margin-inline: 30px;
        transition: all 0.2s;
        position: relative;
        border: 3px groove #8e21c8;

        .headingParent {
            color: #bd85c6;
            font-size: x-large;
            font-family: serif;
        }

        .headSplitLine {
            width: 100%;
            background-color: #8f8f8f;
            height: 1px;
        }

        .headingContent {
            color: #c0aac8;
            font-family: serif;
            font-style: italic;
        }

        .line {
            position: absolute;
            width: 35px;
            background: linear-gradient(120deg, #d52cf03b, rgb(163 87 154 / 65%), #dc5c6947);
            transform: skewX(322deg);
            height: 100%;
            left: -100px;
            border: 2px groove #d8d2d26b;
            opacity: .7;
        }
    }
}

.nameMobile {
    @media screen and (max-width: 500px) {
        font-size: xx-large !important;
    }
}

.fontMobile {
    @media screen and (max-width: 500px) {
        font-size: x-large !important;
    }
}

.pmobileparent {
    @media screen and (max-width: 500px) {
        grid-template-columns: repeat(2, 1fr) !important;
    }
}

.descmobile {
    @media screen and (max-width: 500px) {
        font-size: medium !important;
    }
}

.mobileImage {
    @media screen and (max-width: 500px) {
        display: none;
    }
}

.planguage {
    color: #b68fb6;
    padding: 30px;
    background-color: #b535c452;
    margin: 20px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 13px 0px #a756b1;
}

.resume {
    background-color: #76349352;
    color: #b3b3b3;
    font-family: cursive;
    font-size: medium;
    padding: 14px;
    border-radius: 20px;
    box-shadow: 0px 0px 13px 2px #d342af;
    margin-block: 60px;
    margin-inline: 40px;
    padding: 20px;
}