<owl-carousel-o [options]="customOptions" (translated)="onTranslated($event)" #owlCarousel>
    <ng-template carouselSlide><app-home-svg class="d-flex justify-content-center"
            (click)="carouselClickableFunc($event,0)"></app-home-svg></ng-template>
    <ng-template carouselSlide><app-services class="d-flex justify-content-center"
            (click)="carouselClickableFunc($event,1)"></app-services></ng-template>
    <ng-template carouselSlide><app-skills class="d-flex justify-content-center"
            (click)="carouselClickableFunc($event,2)"></app-skills></ng-template>
    <ng-template carouselSlide><app-resume class="d-flex justify-content-center"
            (click)="carouselClickableFunc($event,3)"></app-resume></ng-template>
    <ng-template carouselSlide><app-contacts class="d-flex justify-content-center"
            (click)="carouselClickableFunc($event,4)"></app-contacts></ng-template>
</owl-carousel-o>