<!-- <article class="d-flex justify-content-center align-items-center h-100">
   <section class="welcomePage" *ngIf="!progressInitComplete()">
      <div class="welcomeBlock d-flex" #welcomePage>Hi Developers</div>
      <div class="line" #shineLine></div>
  </section>
  <section class="progress" *ngIf="!progressInitComplete()" #progressHome></section>
  <article *ngIf="progressInitComplete()" class="parentFirstFold">
    <app-navbar></app-navbar>
    <app-home></app-home>
  </article>
</article> -->

<article class="d-flex justify-content-center w-100 h-100">
  <section class="w-100 h-100" *ngIf="!progressInitComplete">
    <app-navbar></app-navbar>
    <app-home id="homeId" class="parentSection home"></app-home>
    <div class="horizontal-wrapper">
      <app-service-home id="serviceId" class="parentSection horizontal-slide service"></app-service-home>
      <app-skills-home id="skillId" class="parentSection horizontal-slide skill"></app-skills-home>
    </div>
    <app-resume-home id="resumeId" class="position-relative resume parentSection"></app-resume-home>
    <app-contact-home id="contactId" class="parentSection contact"></app-contact-home>
  </section>
  <section class="d-flex justify-content-center align-items-center" *ngIf="progressInitComplete">
    <div style="padding: 50px;font-size: xxx-large;color: purple;">Please use a laptop or desktop for the full animation
      experience. Responsive adjustments are
      currently in
      progress.</div>
  </section>
</article>