body {
  // background-color: rgba(13, 25, 40, 255) !important;
  background-color: rgb(3 14 27) !important;
  height: 100vh !important;
  width: 100% !important;
  // overflow: hidden !important;
}

body::-webkit-scrollbar {
  display: none;
}